<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="true"
         backupStaticAttributes="true"
         bootstrap="vendor/autoload.php"
         verbose="false"
         colors="true">
    <testsuites>
        <testsuite name="All PHPUnit Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
